<h1>Users#index</h1>
<table border="1" >
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th> 
    </tr>
   
        <% @users = User.all %>
        <tr>
        <% @users.each do |user| %>
            <td> <%= user.name %> </td>
            <td> <%= user.email %> </td>
            <td> <%= link_to user.email, edit_user_registration_path %> </td>
        </tr>
        <% end %>
    
</table>